.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 8rem;
  padding: 8rem 0 4rem;
  background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('../img/bg-macro-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-family: 'Varela Round';
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: 0.3rem;
    background: -webkit-linear-gradient(fade-out($white, 0), fade-out($white, 0.8));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media(min-width: 992px) {
    height: 40vh;
    padding: 0;
    h1 {
      font-size: 4.5rem;
      line-height: 4.5rem;
      letter-spacing: 0.6rem;
    }
  }
}
